.main-content {
  padding: 40px;
  background-color: antiquewhite;
  height: 100vh;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  max-width: 800px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  position: relative;
  top: 70px;
}

.section-wrapper {
  margin-bottom: 20px;
  font-size: 30px;
}

.section-wrapper-subtitle {
  margin-bottom: 40px;
  font-size: 24px;
}

.about-wrap {
  display: flex;
  flex-direction: column;
}

.brickOne-text,
.brickTwo-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px;
  text-align: justify;
  flex-basis: calc(50% - 20px);
}
.brickOne-text,
h3 {
  padding: 20px;
}

.brickTwo-text {
  position: relative;
  top: 45px;
  right: 20px;
}

@media (max-width: 768px) {
  .about-wrap {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .section-wrapper {
    position: relative;
    top: -50px;
  }

  .brickOne-text,
  .brickTwo-text {
    flex-basis: auto;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    word-spacing: -2px;
  }
  .brickOne-text {
    position: relative;
    top: -60px;
  }
  .brickTwo-text {
    position: relative;
    top: 1px;
  }
}
@media (max-width: 450px) {
  .brickOne-text,
.brickTwo-text {
  flex-basis: auto;
  width: 100%; 
  text-align: left;
  margin-bottom: 10px; 
  font-size: 14px;
  word-spacing: -2px;
}

}

