* {
  margin: 0;
  padding: 0;
}
.home-container img {
  object-fit: cover;
  height: 550px;
  width: 100%;
}
.home-wrapper button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Text-homeContainer {
 white-space: nowrap;
font-family: sans-serif;
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: text;
  font-size: 19;
  font: weight bold;;
}
