* {
  margin: 0%;
}
.hero-container h1{
  position: relative;
  top: -40px;
}
.sub-title{
  position: relative;
}

.hero-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/corgi\ \(5\).webp");
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  position: relative;
  bottom: 100px;
  font-size: 100px;
  margin-top: -100px;
  white-space: normal;
  text-align: center;
}

.hero-container > p {
  margin-top: 8px;
  position: relative;
  bottom: 30px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
  margin-left: 50px;
  
}

.hero-btns .btn {
  margin: 7px;
  
}

.fa-brands {
  margin-left: 6px;
}
.btn-instagram a {
  text-decoration: none;
  color: #fff;
}
.btn-instagram {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid;
  transition: all 0.3s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 2px;
}
.btn-phone{
   background-color: transparent;
  color: #ffffff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  position: relative;
  right: 55px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-phone:hover{
  transition: all 0.3s ease-out;
  background: #000000;
  color: #ffffff;
  transition: 250ms;
  transition: all 0.3s ease-out;
  background-image: linear-gradient(
    to right,
    #0080ff,
    #2c6377 50%,
    #040404 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  color: #ffffff;
  transition: 250ms;
}

.btn-instagram:hover {
   transition: all 0.3s ease-out;
  background: #000000;
  color: #ffffff;
  transition: 250ms;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 60px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 40px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
    left: -30px;
    right: auto;
    position: relative;
  }
}
